@import '~bootstrap/scss/bootstrap';

/* #sidebarMenu {
    transition: all 0.5s;
    transform: scaleX(1);

    :hover {
        transform: scaleX(0.3);
    }
} */

/* utilities */

$hNav: 3.5rem;


header {
    height: $hNav;
}

.eb_height {
    height: calc(100vh - $hNav);
}

.toggle-sidebar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.5rem;
    transition: all 0.5s;
    transform: scale(1);
    color: black;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
        background-color: black;
        color: white;
        margin-left: 0.5rem;
        transform: scale(1.2);
    }

    span {
        padding: 1rem;
    }
}

.active {
    transform: scaleX(0) rotate(180deg);
    width: 0;
    height: 0;
}