@import '~bootstrap/scss/bootstrap';

/* #sidebarMenu {
    transition: all 0.5s;
    transform: scaleX(1);

    :hover {
        transform: scaleX(0.3);
    }
} */

/* utilities */

$hNav: 3.5rem;


header {
    height: $hNav;
}

.eb_height {
    height: calc(100vh - $hNav);
}

.toggle-sidebar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.5rem;
    transition: all 0.5s;
    transform: scaleX(1);
    color: black;
    cursor: pointer;
}

.active {
    transform: scaleX(0) rotate(180deg);
    width: 0;
    height: 0;
}

.eb_rotate {
    transform: rotate(180deg);
}